@charset "utf-8";

html {
	height: 100%;
}

body {
	background-image: url("../images/asphalt-game-hopscotch-278958.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

span.greeting {
	font-size: xx-large;
	font-weight: bold;
	color: deepskyblue;
}
span.instructions {
	font-size: x-large;
	font-weight: bold;
	color: deepskyblue;
}
span.response {
	font-size: x-large;
	font-weight: bold;
	color: deepskyblue;
}
span.suggestion {
	font-size: medium;
	font-weight: bold;
	color: deepskyblue;
}

input.txt {
	text-align: right;
	width: 50px;
}

